h1 { color: beige;
    background-color: aquamarine;
font-size: 4em; }
h2 { color: beige;
    background-color: rosybrown;
font-size: 3em; }
h3 { color: black;
    background-color: violet;
font-size: 2em; }