h1 {
    color:beige;
    background-color: aquamarine;
}

h2 {
    color:beige;
    background-color: rosybrown;
}

h3 {
    color:beige;
    background-color: rosybrown;
}

aside {
    color:black;
    background-color: violet;

}